body{
    background-color: rgb(20, 19, 20);    
}
#header{
    /* background-color: aquamarine; */
    text-align: center;
    color: cornsilk;
}

#meme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#announcement{
    color: cornsilk;
}
#img1{
    width: 30%;
    margin: 0 auto;
}

@media only screen and (max-width: 480px) {
    #img1 {
      width: 100%;
    }
    #announcement{
        font-size:medium;
    }
    #header{
        font-size:medium;
    }
  }